@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-bg-color: #F4F1DE; /* Antique White */
    --main-text-color: #3D405B; /* Deep Slate Blue */
    --main-accent-color: #E07A5F; /* Terra Cotta */
    --input-bg-color: #ffffff;
    --input-border-color: #ced4da;
}

*{
    font-family: "roboto";
    text-decoration: none;
}
html, body {
    height: 100%;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: #F4F1DE; /* Antique White */
}

.header-content {
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-name h1 {
    margin: 0; 
    color: #3D405B; /* Deep Slate Blue */
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #F4F1DE; /* Deep Slate Blue for the header background */
    color: #3D405B; /* Antique White for the text */
    padding: 0.5em 1em; /* Adjust padding to your liking */
  }

.brand-name a {
  text-decoration: none;
  color: #F4F1DE; /* Antique White for the brand name */
  font-size: 1.5em; /* Adjust the size as needed */
}

  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu a {
    color: #3D405B; /* Antique White for menu links */
    text-decoration: none;
  }
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,  
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #3D405B; /* Antique White for the burger icon */
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      display: none; /* Hide menu initially, will be shown when checkbox is checked */
      position: absolute;
      top: 50px;
      left: 0;
      flex-direction:column;
      width: 100%;
      align-items: center;
      background: #F4F1DE;
      padding: 20px;
    }
    #menu-toggle:checked ~ .menu {
      display: flex; /* Show menu when checkbox is checked */
    }
    .menu > li {
      display: block;
      width: 100%;
      color: white;
    }

  }

.content-section {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    margin: 40px;
    overflow: hidden;
}

.content-text-section {
    flex-direction: row;
}

.footer {
    background-color: #2C3E50; /* Dark background for the footer */
    color: #fff; /* White text color */
    padding: 20px;
    margin-top: auto;
    text-align: center; /* Centering the content */
}

.footer-content {
    margin: auto;
    max-width: 800px; /* Max width for the footer content */
}

.contact-icons {
    display: flex;
    justify-content: center; /* Centering the icons */
    margin: 50px; /* Space below icons */
}

.contact-icons a {
    text-decoration: none;
    color: #fff; /* White text color for icons */
    font-size: 44px; /* Size of icons */
    margin: 0 30px; /* Spacing between icons */
}

