html, body {
    height: 100%;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: #F4F1DE;
    color: #3D405B;
}

.header-content {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-name h1 {
    margin: 0;
    color: #3D405B;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #F4F1DE;
    color: #3D405B;
    padding: 0.5em 1em;
}

.brand-name a {
    text-decoration: none;
    color: #3D405B;
    font-size: 1.5em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu a {
    color: #3D405B;
    text-decoration: none;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #3D405B;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        align-items: center;
        background: #F4F1DE;
        padding: 20px;
    }
    #menu-toggle:checked ~ .menu {
        display: flex;
    }
    .menu > li {
        display: block;
        width: 100%;
        color: #fff;
    }
}

/* Form styling */
.create-account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Adjust the height as needed */
    padding: 2em;
    background-color: var(--main-bg-color);
}

.create-account-form {
    width: 100%;
    max-width: 400px;
    padding: 2em;
    background: var(--input-bg-color);
    margin: 2em;
}

.create-account-form h1 {
    color: var(--main-text-color);
    margin-bottom: 1em;
    text-align: center;
}

.form-group {
    margin-bottom: 1em;
}

.form-group label {
    display: block;
    color: var(--main-text-color);
    margin-bottom: .5em;
}

.create-account-form input[type="text"],
.create-account-form input[type="email"],
.create-account-form input[type="password"],
.create-account-form input[type="submit"] {
    width: 100%;
    padding: .75em 0;
    border: none;
    border-bottom: 2px solid #ced4da;
    background-color: transparent;
    margin-bottom: 1em;
    color: #3D405B;
    font-size: 1em;
    box-sizing: border-box;
}

.create-account-form input[type="submit"] {
    border-bottom: none;
    background-color: #E07A5F;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-account-form input[type="submit"]:hover {
    background-color: #b8533d;
}

.create-account-form input[type="text"]:focus,
.create-account-form input[type="email"]:focus,
.create-account-form input[type="password"]:focus {
    outline: none;
    border-bottom: 2px solid #E07A5F;
}

.form-group input[type="checkbox"] {
    margin-top: .5em;
}

.create-account-form label {
    display: block;
    margin-bottom: 0.5em;
    color: #3D405B;
}

.create-account-form input[type="submit"] {
    padding: .75em;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .create-account-container {
        padding: 1em;
    }
    .create-account-form {
        margin: 1em;
    }
}

.footer {
    background-color: #2C3E50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    margin: auto;
    max-width: 800px;
}

.contact-icons {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.contact-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 44px;
    margin: 0 30px;
}