@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

/**
Go to favorites hyperlink in header
 */

.go-fav {
    display: flow;
    padding: 5px;
    cursor: pointer;
    border: hidden;
    position: relative;
    transition: all .5s ease;
    border-radius: 3px;
    text-decoration: none; /* removes underline from link */
    color: #666;
    width: fit-content;
}

/**
Add to favorites button with white box
 */

.add-fav {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    background: -webkit-linear-gradient( top,#fff,#ddd) #ddd;
    position: relative;
    transition: all .5s ease;
    border-radius: 3px;
    box-shadow: inset 0 -1px 1px #eee;
    width: fit-content;
}

.add-fav:hover {
    background: -webkit-linear-gradient( top,#fff,#ccc) #ddd;
}

.heart-icon {
    color: #807575;
    position: relative;
    transition: color 0.5s ease-in-out;
}

.add-fav input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.add-fav input[type="checkbox"]:checked + .heart-icon {
    color: #E07A5F;
}

/**
Add to favorites button without white box
 */

.add-fav2 {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    border: none;
    transition: all .5s ease;
    border-radius: 3px;
    width: fit-content;
    position: absolute;
    top: 20px;
    right: 30px;
}

.add-fav2 input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.add-fav2 input[type="checkbox"]:checked + .heart-icon {
    color: #E07A5F;
}

/**
Filter sidebar
 */

#filter-section {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    float: left;
}

#filter-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

#filter-section ul {
    list-style-type: none;
    padding: 0;
}

#filter-section li {
    margin-bottom: 5px;
}

/**
Sort section
*/

.sort-section {
    display: flex;
    flex-direction: row;
}

.sort-by {
    display: flex;
    align-items: center;
}

.sort-by label {
    margin-right: 10px;
}

.sort-by select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sort-by select {
    appearance: none; /* removes default */
    -webkit-appearance: none; /* for Safari and Chrome */
    -moz-appearance: none; /* for Firefox */
    background-color: white;
    background-position: right 8px center; /* Position the arrow icon */
    background-size: 12px; /* Set the size of the arrow icon */
    cursor: pointer;
}

/**
Product result section
 */

.products-wrapper {
    max-width: 1200px;
    margin-left: 220px;
    padding: 2em 4em 2em 4em;
    box-sizing: border-box; /* include padding in the total width */
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: left;
}

.product {
    width: 100%;
    max-width: 600px;
    margin: 2px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* adds shadow */
    padding: 5px; /* spacing inside the box */
    display: flex;
    flex-direction: row; /* sets hotel content in a row */
    position: relative;
    background-color: white;
}

.hotel-image {
    margin-right: 1em;
}

.hotel-image img {
    float: left;
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 5px;
}

.hotel-name {
    font-size: 1.2em;
}

.hotel-rating {
    font-size: 0.8em;
}

.hotel-price {
    font-size: 0.8em;
}

/**
Specific to mobile/smaller screens
 */
@media (max-width: 768px) {
    .products-wrapper {
        max-width: 100%;
        padding: 0 10px;
    }

    .product {
        width: 100%;
        flex-direction: column; /** stacks content vertically */
    }

    .hotel-info {
        flex: none;
        margin-left: 0;
        margin-top: 2px;
        text-align: center;
    }

    .add-fav2 {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 10px;
        margin-right: 10px;
    }
}