@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "roboto";
    text-decoration: none;
}
html, body {
    height: 100%;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: #F4F1DE; /* Antique White */
}

.header-content {
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-name h1 {
    margin: 0; 
    color: #3D405B; /* Deep Slate Blue */
}

.user-menu {
    display: flex;
    align-items: center;
    position: relative; 
}

.burger-menu {
    font-size: 24px;
    cursor: pointer;
    position: relative; /
    margin-right: 20px; 
}

.burger-menu:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none; 
    position: absolute; 
    right: 40px; 
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.brand-name a {
    text-decoration: none;
    color: #3D405B; /* Deep Slate Blue */
}

.brand-name h1 {
    margin: 0; 
}

.user-icon {
    font-size: 24px;
    color: #3D405B; /* Deep Slate Blue */
    text-decoration: none;
    display: block; 
    padding: 8px 16px; 
}

.headline{
    text-align: center;;
}
.search-area {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding: 100px;
    gap: 10px;
}

.search-area input[type="text"],
.search-area input[type="date"] {
    padding: 10px;
    border: 1px solid #3D405B; /* Deep Slate Blue */
    border-radius: 5px;
    background-color: #F4F1DE; /* Antique White */
    color: #3D405B; /* Deep Slate Blue */
    flex: 1; 
    min-width: 120px; 
}

#find-button {
    padding: 10px 20px;
    background-color: #E07A5F; /* Terra Cotta */
    color: #F4F1DE; /* Antique White */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.explore-section {
    margin: 20px;
    text-align: center;
}

.explore-section h2 {
    margin-bottom: 20px;
    color: #3D405B; 
}
.explore-section h3 {
    margin-bottom: 20px;
    color: #3D405B; 
}

.destinations-container {
    display: flex;
    overflow-x: auto; 
    gap: 20px; 
    padding-bottom: 20px; 
}

.destination {
    flex: 0 0 auto; 
    width: 200px; 
    text-align: center; 
    color: #3D405B; 
    text-decoration: none; 
}

.destination img {
    width: 100%; 
    border-radius: 10px; 
}

.destination p {
    margin-top: 8px; 
    font-size: 16px; 
}

@media (max-width: 768px) {
    .destinations-container {
        justify-content: center;
    }
}


.image-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    overflow: hidden;
}

.image-text-container.left {
    flex-direction: row;
}

.image-text-container.right {
    flex-direction: row-reverse;
}

.image-text-container img {
    width: 50%; /* Adjust based on your actual design needs */
    max-width: 600px;
    height: auto;
    flex: 0 0 50%; /* Prevent the image from growing or shrinking */
}

.image-text-container .text-content {
    flex: 1;
    padding: 0 5%; /* Adjust the padding to center the text more */
    text-align: left; /* Align the text to the left */
    display: flex;
    flex-direction: column;
    justify-content: center; /* This will vertically center the text content */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .image-text-container {
        flex-direction: column !important; /* Override any other flex-direction */
    }

    .image-text-container img,
    .image-text-container .text-content {
        width: 100%;
        max-width: none;
        order: 0; /* Reset the order for mobile */
        padding: 0; /* Remove padding on mobile for full-width */
    }

    .image-text-container .text-content {
        text-align: center; /* Center text on mobile */
    }
}

footer {
    background-color: #3D405B; /* Deep Slate Blue */
    color: #F4F1DE; /* Antique White */
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column; /* Stack footer content on top of each other */
    align-items: center;
}

.social-media-buttons {
    font-size: 14px;
    margin-bottom: 10px; /* Add space between buttons and text */
}

.social-media-buttons a {
    color: #F4F1DE; /* Antique White */
    text-decoration: none;
    margin: 0 10px;
}

.rights-text {
    text-align: center;
    font-size: 14px;
}
