@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "roboto";
    font-weight: 400;
}
html, body {
    height: 100%;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: #F4F1DE; /* Antique White */
}

header {
    background-color: #F4F1DE; /* Antique White */
    padding: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3D405B; /* Deep Slate Blue */
}

.headline{
    text-align: center;
}

.user-menu {
    display: flex;
    align-items: center;
}

.user-icon, .burger-menu {
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
    color: #3D405B; /* Deep Slate Blue */
}

.search-area {
    display: flex;
    flex-wrap: wrap; /* Allow the search area to wrap on smaller screens */
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.search-area input[type="text"],
.search-area input[type="date"] {
    padding: 10px;
    border: 1px solid #3D405B; /* Deep Slate Blue */
    border-radius: 5px;
    background-color: #F4F1DE; /* Antique White */
    color: #3D405B; /* Deep Slate Blue */
    flex: 1; /* Allow inputs to grow and fill the space */
    min-width: 120px; /* Prevent inputs from becoming too small */
}

#find-button {
    padding: 10px 20px;
    background-color: #E07A5F; /* Terra Cotta */
    color: #F4F1DE; /* Antique White */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    overflow: hidden;
}

.image-text-container.left {
    flex-direction: row;
}

.image-text-container.right {
    flex-direction: row-reverse;
}

.image-text-container img {
    width: 50%; /* Adjust based on your actual design needs */
    max-width: 600px;
    height: auto;
    flex: 0 0 50%; /* Prevent the image from growing or shrinking */
}

.image-text-container .text-content {
    flex: 1;
    padding: 0 5%; /* Adjust the padding to center the text more */
    text-align: left; /* Align the text to the left */
    display: flex;
    flex-direction: column;
    justify-content: center; /* This will vertically center the text content */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .image-text-container {
        flex-direction: column !important; /* Override any other flex-direction */
    }

    .image-text-container img,
    .image-text-container .text-content {
        width: 100%;
        max-width: none;
        order: 0; /* Reset the order for mobile */
        padding: 0; /* Remove padding on mobile for full-width */
    }

    .image-text-container .text-content {
        text-align: center; /* Center text on mobile */
    }
}

footer {
    background-color: #3D405B; /* Deep Slate Blue */
    color: #F4F1DE; /* Antique White */
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column; /* Stack footer content on top of each other */
    align-items: center;
}

.social-media-buttons {
    font-size: 14px;
    margin-bottom: 10px; /* Add space between buttons and text */
}

.social-media-buttons a {
    color: #F4F1DE; /* Antique White */
    text-decoration: none;
    margin: 0 10px;
}

.rights-text {
    text-align: center;
    font-size: 14px;
}
